/* -----------------------------------------------------------------+ */
/* file:     chrome/userChrome.css                                  + */
/* author:   Ypnose - http://ywstd.fr                               + */
/* -----------------------------------------------------------------+ */

/* I used DOM Inspector to find the "classes" */
/* chrome://browser/content/browser.xul */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tab,#urlbar,.searchbar-textbox {
	/* font-family:"Ubuntu Mono",monospace !important; */
	font-family:"Pragmata Pro",monospace !important;
	font-size:12pt !important;
}

/* No curved tabs */
.tab-background-start,
.tab-background-start[selected=true]::after,
.tab-background-start[selected=true]::before,
.tab-background-end,
.tab-background-end[selected=true]::after,
.tab-background-end[selected=true]::before,
#bookmarks-menu-button {
	display:none !important;
}

#tabbrowser-tabs {
	min-height:30px !important;
}

/* Background */
#appmenu-toolbar-button,
#tabbrowser-tabs,
#TabsToolbar,
#nav-bar,
.tabs-newtab-button {
	background:#565656 !important;
}

/* Avoid "big" tabs */
#TabsToolbar {
	margin-left:-15px !important;
}

/* No border below tabs and toolbar */
#TabsToolbar::after {
	border:none !important;
}

.tab-background {
	margin:0 15px !important;
}

.tab-background-middle {
	border:none !important;
}

.tab-background-middle:hover {
	background:#777 !important;
}

.tab-background-middle[selected=true] {
	background:#30647C !important;
}

/* Space around text / icon */
.tab-content {
	padding:0 15px !important;
}

.tab-background-start[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-end[selected=true]:-moz-locale-dir(rtl)::after,
.tab-background-end[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-start[selected=true]:-moz-locale-dir(rtl)::after,
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]),
.tabs-newtab-button:hover,
#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
	background:none !important;
}

#nav-bar {
	box-shadow:none !important;
}

#urlbar,.searchbar-textbox {
	background:#DDD !important;
}
